body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 22%;
    margin-bottom: 22%;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

h1{
    font-weight: light;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

footer{
    margin-top: 150px;
}
button{
    width: 250px;
    height: 50px;

    /* Font Settings */
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 9pt;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* Background & Button Style Settings */
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(102,183,220,1) 0%, rgba(78,244,248,1) 100.2% );
    border-radius: 100px;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.45);

    /* Transitions */
    -webkit-transition-duration: 0.4s; 
    
    /* For Safari */
    transition-duration: 0.4s;
} 

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    
    /* Transitions */
    -webkit-transition-duration: 0.4s; 
    
    /* For Safari */
    transition-duration: 0.4s;
}

#placeholder, #kindDeed{
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1px;
    padding-left: 250px;
    padding-right: 250px;

    /* Font Background Settings */
    background-image: -webkit-gradient( linear, left top, right top, color-stop(.45, #a1c4fd), color-stop(0.98, #82d7ff));
    background-image: gradient( linear, left top, right top, color-stop(0, #a1c4fd), color-stop(0.15, #82d7ff));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

